body {
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* custom css */
.main-container {
  min-height: 100vh;
  background-color: #26262b;
}

.container-dark {
  background-color: #26262b;
}

nav img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.home {
  justify-content: center;
  display: flex;
  height: calc(100vh - 56px);
  align-items: center;
}

.card-container {
  grid-template-columns: repeat(auto-fill, 14rem);
  grid-auto-rows: auto;
  grid-gap: 10px;
  display: inline-grid;
  justify-content: space-evenly;
  width: 100%;
}

[class$="-card"] {
  max-width: 14rem;
  color: black;
}

.champion-card:hover {
  background-color: #f8f8f8;
  border: 1px solid #ffd700;
}

.mastery-card .card-body span {
  display: block;
}

.mastery-card .progress {
  height: 2rem;
  margin-top: 10px;
}

.mastery-card .progress-bar-label {
  color: black;
}

.basic-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
}

.bold-light {
  font-weight: 500;
}

.bolder {
  font-weight: 700;
}

.fade:not(.show) {
  display: none;
}